.card-img {
    position: relative;
    width: 100%;
    background: #fff;
    /*background-image: url(http://www.simpleimage.com/images/logo.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
}

.card-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    line-height: 20px;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 0px 0px 6px 6px;
}

.img {
    margin-left: auto;
    margin-right: auto;
}
