@model System.Collections.Generic.IEnumerable<SpaceMuseum.Data.Models.Exhibit>
@{
    ViewBag.Title = "Index";
}

<div class="row margin-top-30">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel bg no-border">
            <div class="panel-heading">
                <div class="container-fluid">
                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                        <input id="search"/>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="items" class="container-fluid">
                    @foreach (var e in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div id="exhibit-@e.ExhibitID" class="card">
                                <div class="card-img clickable"
                                     style="background-image:url(http://www.simpleimage.com/images/logo.jpg);" 
                                     @*style="background-image:url(@e.Images.FirstOrDefault().URL);"*@>
                                    
                                    <div class="card-desc">
                                        @e.Name
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
    <link href="~/Content/css/sm.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/sm.exhibits.css" rel="stylesheet" type="text/css" />
}

@section scripts{
    <script src="~/Content/js/sm.exhibits.js" defer></script>
}
