@model System.Collections.Generic.IEnumerable<SpaceMuseum.Data.Models.Exhibit>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Last few weeks events</div>
            <div class="panel-body">
                <ul class="list-group">
                    @foreach (var e in Model)
                    {
                        <li class="list-group-item clearfix">
                            <img src="@(e.Images.FirstOrDefault()?.URL ?? "")" alt="100x100" class="img-rounded pull-left" width="100" height="100" />
                            <h4 class="list-group-item-heading">@e.Name</h4>
                            <p class="list-group-item-text">@e.Description</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
